.jumbotron {
  background-color: white;
  background-image: url(../bank.gif);
  background-repeat: no-repeat;
  background-position: right;
}

body {
  background-color: #ededed;
}

.jumbotron p {
  font-style: italic;
}

.well {
  background-color: white;
}

button {
  background-color: #565884!important;
}
